/** Import de police **/
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700"); /* Il manquait "url(" au début */
@import url("http://weloveiconfonts.com/api/?family=entypo"); /* Il manquait "url(" au début */
@import url("http://weloveiconfonts.com/api/?family=fontawesome"); 